@model List<Category>
<partial name="_NotificationsPartial" />
<div class="categories py-5">
    <div class="container">
        <div class="row align-items-center mb-3">
            <div class="col-lg-6 col-sm-12">
                <h1 class="pb-1">Category List</h1>
            </div>
            <div class="col-lg-6 col-sm-12 text-lg-end text-sm-end">
                <a class="btn text-light border-black create bg-dark mb-2" asp-controller="Category" asp-action="Create">
                    <i class="bi bi-plus-circle"></i> Create New Category
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th scope="col">Category Name</th>
                        <th scope="col">Display Order</th>
                        <th scope="col">Is Hidden</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Updated At</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.DisplayOrder</td>
                            <td>@(item.IsHidden ? "Yes" : "No")</td>
                            <td>@item.CreatedAt.ToString("yyyy-MM-dd")</td>
                            <td>@(item.UpdatedAt.HasValue? item.UpdatedAt.Value.ToString("yyyy-MM-dd") : "-")</td>
                            <td>
                                <div class=" btn-group" role="group">
                                    <a class="btn bg-dark rounded rad mx-2 px-3 text-white" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a class="btn px-3 mx-2 rounded btn-danger " asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-trash"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
